body {
  margin: 0;
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  border-bottom: 1px solid lightgrey;
  margin-top: 2em;
}

.task-taps {
  display: flex;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.task-taps div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: tomato;
  position: absolute;
  width: 50px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-no-done {
  background-color: white;
  flex-grow: 1;
  padding: 1em;
}
.task-done {
  text-decoration: line-through;
  background-color: #d3d3d3;
  flex-grow: 1;
  padding: 1em;
}

.first-button {
  padding: 1em;
  font-size: 1em;
  border: 0;
  outline: 0;
  background-color: white;
  color: #d3d3d3;
}

.second-button {
  padding: 1em;
  font-size: 1em;
  border: 0;
  outline: 0;
  background-color: white;
  color: tomato;
}

.no-first-button {
  padding: 1em;
  border: 0;
  outline: 0;
  background-color: white;
  font-size: 1em;
  color: green;
}

.no-second-button {
  padding: 1em;
  border: 0;
  outline: 0;
  background-color: white;
  font-size: 1em;
  color: tomato;
}
